
.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}
.menu-bar .label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}
/*1028x576*/
.label-black-titulo {
    -fx-font-size: 42pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 1;
}
.label-black-cadastro {
    -fx-font-size: 16pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 1;
}
.label-white-titulo {
    -fx-font-size: 40pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}
.button-azul{
-fx-padding: 5 22 5 22;
    -fx-border-color: transparent;
    -fx-border-width: 2;

-fx-background-radius: 0;

}
.button-verde {
-fx-padding: 5 22 5 22;
    -fx-border-color: lawngreen;
    -fx-border-width: 2;
    -fx-background-radius: 0;
}
.button-red {
-fx-padding: 5 22 5 22;
    -fx-border-color: red;
    -fx-border-width: 2;
    -fx-background-radius: 0;
}
.button-black{
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;

}
.button-white{
    -fx-padding: 5 22 5 22;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-background-radius: 0;
}
.button{
-fx-padding: 5 22 5 22;
    -fx-background-radius: 0;

}
.button:hover{
    -fx-base: black;  
}
.combo-box-base{
    -fx-background-radius: 0;

}
.combo-box-base:hover{
    -fx-base: black;  
}
.combo-box-popup{
    -fx-background-radius: 0;

}

.text-field{
    -fx-background-radius: 0;

}
